@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* parallax */

/* настройки шапки страницы */
.head{
    /* высота картинки с параллаксом */
    min-height: 100vh;
}
.linux_bg {
    min-height: 200px;
}

/* Настройки заголовков в шапке */
    /* заголовок первого уровня */
    .head h1{
        text-transform: uppercase;
        font-family: 'Amatic SC';
        /* размер шрифта */
        font-weight: 900;
        font-size: 7em;
        /* выравнивание по центру */
        text-align: center;
        /* тень текста */
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        /* отступ сверху */
        padding-top: 35%;
        /* цвет */
        color: rgb(244, 244, 240);
        text-shadow: 1px 1px 3px #000;
    }



/*Меню фиксированное*/
nav {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 150px;
    top: 0;
}
.menu {
    width: 100vw;
    height: 50px;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    background: #fff;
    padding: 0 50px;
    box-shadow: 0 2px 5px rgb(124, 122, 122);
    top: 0;
}

.menu_item {
    padding: 8px 5px 2px 5px;
}
.menu .menu_link {
    font-family: sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: none;
}
.menu .menu_link:hover {
    cursor: pointer;}

/* content */
.bash_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.bash_flex_item {
    margin: 1% 3% 1% 3%;
}
.bash_flex_item a {
    text-transform: uppercase;
    background-color:rgb(76, 137, 249);
    padding: 0.5% 3%;
    margin: 0 1% 3% 3%;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 0.2em;
}
.knowledge .container .row{
    justify-content: center;

}
.teamcity, .understanding, .rabbitmq, .graylog, .postgres, .git, .linux, .python, .kubernetes {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.title_block {
    font-family: 'Jost', sans-serif;
    font-size: 4.6rem;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
    margin: 0%;
    padding: 5%;
    color: rgb(2, 0, 0);
}
.teamcity_text_title {
    padding: 1% 7%;
    color: #000;
    font-size: 1.6em;   
    font-weight: bold; 
}
.once_title {
    padding: 1% 7%;
}
.title_active {
    border-bottom: 2px solid rgb(76, 137, 249);
    color:rgb(76, 137, 249);
    font-size: 1.6em;
    font-weight: bolder; 
}
.teamcity_text_p, .text_p, .rabbitmq_text_p, .graylog_text_p, .postgres_text_p, .git_text_p, .linux_text_p, .python_text_p, .kubernetes_text_p {
    padding: 2% 0;
    font-size: 24px;
    border-top: 2px solid rgb(76, 137, 249);
    width: 100%;
    
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
a:visited {
    text-decoration: inherit;
    color:#000;
}
.title_1:hover, .title_2:hover, .title_3:hover, .title_4:hover, .title_5:hover, .title_6:hover, .title_7:hover, .title_8:hover, .title_9:hover, .title_10:hover, .title_11:hover, .title_12:hover, .title_13:hover, .title_14:hover, .title_15:hover , .title_16:hover , .title_17:hover, .title_18:hover, .title_19:hover, .title_20:hover   {
    cursor: pointer;
}

.kubernetes_title_link {
    background-color: rgb(246, 246, 246);
    height: 100%;
    padding: 5% 0 5% 0;

}
.kubernetes_title {
font-size: 22px;
padding: 1% 1% 1% 3%;
}
.link  {
    background-color:rgb(76, 137, 249);
    padding: 0.5% 3%;
    margin: 0 1% 3% 3%;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 0.2em;
}
.link a {
    color:#fff;
}
.link a:hover {
    color: #fff;
}
.link a:visited {
    color:#fff;
}
/* parallax */
